<div class="container">
  <form [formGroup]="showClient" class="clientdata" #clientform>
    <button class="button" (click)="clearForm()">Clear all fields</button>
    <label
      [ngClass]="{
        'label-invalid': showClient.controls.companyName.invalid,
        label: true
      }"
      for="clientname"
      >Name *</label
    >
    <input
      type="text"
      id="clientname"
      class="input clientname"
      formControlName="companyName"
      (input)="setCompanyName()"
    />
    <label
      for="taxRegistrationNr"
      [ngClass]="{
        'label-invalid': showClient.controls.registrationNumber.invalid,
        label: true
      }"
      >Tax registration nr.*</label
    >
    <input
      id="taxRegistrationNr"
      type="text"
      class="input"
      formControlName="registrationNumber"
    />
    <label
      for="euid"
      [ngClass]="{
        'label-invalid': showClient.controls.euid.invalid,
        label: true
      }"
      >EUID</label
    >
    <input type="text" id="euid" class="input" formControlName="euid" />
    <label
      [ngClass]="{
        'label-invalid': showClient.controls.adress.invalid,
        'adress-title': true
      }"
    >
      Adress*
    </label>
    <form class="adress-container" formGroupName="adress">
      <label
        [ngClass]="{
          'label-invalid': showClient.controls.adress.controls.street.invalid,
          'adress-label': true
        }"
        for="street"
        >Street</label
      >
      <input
        class="adressinput input"
        type="text"
        id="street"
        formControlName="street"
      />
      <label
        [ngClass]="{
          'label-invalid': showClient.controls.adress.controls.number.invalid,
          'adress-label': true
        }"
        for="number"
        >Nr</label
      >
      <input
        required
        class="adressinput input"
        type="text"
        id="number"
        formControlName="number"
      />
      <label
        [ngClass]="{
          'label-invalid': showClient.controls.adress.controls.city.invalid,
          'adress-label': true
        }"
        for="city"
        >City</label
      >
      <input
        required
        class="adressinput input"
        type="text"
        id="city"
        formControlName="city"
      />
      <label class="adress-label" for="region">Region</label>
      <input
        class="adressinput input"
        type="text"
        id="region"
        formControlName="region"
      />
      <label
        [ngClass]="{
          'label-invalid': showClient.controls.adress.controls.country.invalid,
          'adress-label': true
        }"
        for="country"
        >Country</label
      >
      <input
        required
        class="input adressinput"
        type="text"
        id="country"
        formControlName="country"
      />
      <label
        [ngClass]="{
          'label-invalid':
            showClient.controls.adress.controls.postalCode.invalid,
          'adress-label': true
        }"
        for="postalCode"
        >Zip</label
      >
      <input
        required
        class="adressinput input"
        type="text"
        id="postalCode"
        formControlName="postalCode"
      />
    </form>
    <label
      [ngClass]="{
        'label-invalid': showClient.controls.phone.invalid,
        label: true
      }"
      for="phone"
      >Telephone*</label
    >
    <input id="phone" type="text" class="input" formControlName="phone" />
    <label
      [ngClass]="{
        'label-invalid': showClient.controls.email.invalid,
        label: true
      }"
      for="email"
      >Email*</label
    >
    <input class="input" id="email" type="text" formControlName="email" />
    <div class="save-cancel-container">
      <button class="button">Save</button>
      <button class="button">Cancel</button>
    </div>
  </form>
</div>
