<div class="container">
  <form [formGroup]="showClient" class="clientdata" #clientform>
    <p class="label">Name</p>
    <div
      matRipple
      [matRippleColor]="'var(--clr-input-focused)'"
      class="fill-row"
    >
      <input
        required
        type="text"
        class="input clientname"
        formControlName="companyName"
      />
    </div>
    <p class="label number-label">Registration</p>
    <div
      matRipple
      [matRippleColor]="'var(--clr-input-focused)'"
      class="ripple number"
    >
      <input
        required
        type="text"
        class="input"
        formControlName="registrationNumber"
      />
    </div>
    <p class="label euid-label">EUID</p>
    <div
      matRipple
      [matRippleColor]="'var(--clr-input-focused)'"
      class="ripple euid"
    >
      <input type="text" class="input" formControlName="euid" />
    </div>
    <p class="label adress-title">Adress</p>
    <form class="adress-container" formGroupName="adress">
      <label class="adress-label" for="street">Street</label>
      <div
        matRipple
        [matRippleColor]="'var(--clr-input-focused)'"
        class="ripple"
      >
        <input
          required
          class="adressinput input"
          type="text"
          id="street"
          formControlName="street"
        />
      </div>
      <label class="adress-label" for="number">Nr</label>
      <div
        matRipple
        [matRippleColor]="'var(--clr-input-focused)'"
        class="ripple"
      >
        <input
          required
          class="adressinput input"
          type="text"
          id="number"
          formControlName="number"
        />
      </div>
      <label class="adress-label" for="city">City</label>
      <div
        matRipple
        [matRippleColor]="'var(--clr-input-focused)'"
        class="ripple"
      >
        <input
          required
          class="adressinput input"
          type="text"
          id="city"
          formControlName="city"
        />
      </div>
      <label class="adress-label" for="region">Region</label>
      <div
        matRipple
        [matRippleColor]="'var(--clr-input-focused)'"
        class="ripple"
      >
        <input
          class="adressinput input"
          type="text"
          id="region"
          formControlName="region"
        />
      </div>
      <label class="adress-label" for="country">Country</label>
      <div
        matRipple
        [matRippleColor]="'var(--clr-input-focused)'"
        class="ripple"
      >
        <input
          required
          class="input adressinput"
          type="text"
          id="country"
          formControlName="country"
        />
      </div>

      <label class="adress-label" for="postalCode">Zip</label>
      <div
        matRipple
        [matRippleColor]="'var(--clr-input-focused)'"
        class="ripple"
      >
        <input
          required
          class="adressinput input"
          type="text"
          id="postalCode"
          formControlName="postalCode"
        />
      </div>
    </form>

    <p class="label">Telephone</p>
    <div
      matRipple
      [matRippleColor]="'var(--clr-input-focused)'"
      class="fill-row phone"
    >
      <input required type="text" class="input" formControlName="phone" />
    </div>
    <p class="label">Email</p>
    <div
      matRipple
      [matRippleColor]="'var(--clr-input-focused)'"
      class="fill-row"
    >
      <input required class="input" type="text" formControlName="email" />
    </div>
    <p
      class="invalid-text"
      [ngClass]="
        !showClient.valid && showClient.touched
          ? 'show-invalid-text'
          : 'hide-invalid-text'
      "
    >
      Client information incomplete
    </p>
  </form>
</div>
