.container {
  background-color: white;
  padding: 2rem;
  width: 100%;
}
.ng-invalid:not(form) {
  border-bottom: 1px solid var(--clr-accent-red);
}

.label {
  grid-column: 1;
  color: var(--clr-primary-light);
  margin: auto;
  font-size: 0.85rem;
  font-weight: 400;
  white-space: nowrap;
}

.clientdata {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 1rem;
}

.input {
  width: 100%;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  padding: 10px 0 10px 3rem;
  outline: none;
  border: none;
  &:focus {
    background-color: var(--clr-input-focused);
  }
}
.adressinput {
  font-size: small;
}

.adress-label {
  color: var(--clr-primary-light);
  margin: auto;
  font-size: smaller;
  white-space: nowrap;
}
.adress-title {
  grid-column: 1;
  color: var(--clr-primary-light);
  margin: auto;
  font-size: 12px;
  font-weight: 400;
}
.adress-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
}

.phone {
  margin-top: 10px;
}
.label-invalid {
  color: var(--clr-accent-red);
}
.button {
  all: unset;
  grid-column: 2;
  color: var(--clr-primary-light);
  padding: 0.3em 1em;
  text-align: center;
  width: 3rem;
  margin: auto;
  margin-right: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 5px 5px #558abb;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid var(--clr-primary-light);
  transition-duration: 0.1s;
  &:active {
    box-shadow: none;
  }
  // box-shadow: 1px 1px 4px 0px hsl(0deg 0% 0% / 35%);
  // text-shadow: 0 4px 4px #000;
}
.save-cancel-container {
  width: 100%;
  grid-column: 2;
  display: flex;
  padding: 3rem;
  gap: 2rem;
  justify-content: flex-end;
  .button {
    margin: auto 0;
  }
}
