.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  row-gap: 1rem;
}
.ng-invalid:not(form) {
  border-bottom: 1px solid var(--clr-accent-red);
}

.input,
.text {
  border: none;
  border-bottom: 1px solid var(--clr-primary-light);
  line-height: 1em;
  margin: auto 0;
  width: 100%;
  transition: 0.5s;
  padding-top: 0.2em;
  outline: none;
}
.text {
  font-size: calc(16px + 0.3vw);
  overflow: hidden;
  padding: 1em;
}
.input {
  font-size: larger;
  text-align: center;
  margin: auto;

  width: 70%;
}
.date {
  width: 40%;
}
.dates {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.label {
  color: var(--clr-primary-light);

  font-size: smaller;
  font-weight: 600;
  margin: 0;
  text-align: start;
}
.items {
  display: flex;
}
.ripple {
  overflow: hidden;
}
