<form class="container" [formGroup]="invoiceDetails" name="invoiceDetails">
  <label for="startDate" class="label">Invoice Period</label>
  <div class="dates" formGroupName="InvoicePeriod">
    <input
      formControlName="StartDate"
      class="date input"
      id="startDate"
      type="date"
      (change)="refreshDueDate()"
    />

    <input
      formControlName="EndDate"
      class="date input"
      id="endDate"
      type="date"
    />
  </div>
  <label for="invoiceType" class="label">Invoice type</label>
  <select class="input" id="invoiceType" formControlName="InvoiceTypeCode">
    <option value="326">Partial invoice</option>
    <option value="380">Commercial invoice</option>
    <option value="384">Corrected invoice</option>
    <option value="389">Self-billed Invoice</option>
    <option value="381">Credit note</option>
    <option value="875">Partial construction invoice</option>
    <option value="876">Partial final contruction invoice</option>
    <option value="877">Final construction invoice</option>
  </select>

  <label for="currency" class="label">Currency</label>

  <select class="input" id="currency" formControlName="DocumentCurrencyCode">
    <option value="$">USA</option>
    <option value="Ron">RON</option>
    <option value="€">EUR</option>
  </select>

  <label for="orderRef" class="label">Order reference</label>
  <input
    formControlName="OrderReference"
    id="orderRef"
    type="text"
    class="input"
  />
  <label for="ContractReference" class="label">Contract reference</label>
  <input
    formControlName="ContractReference"
    id="ContractReference"
    type="text"
    class="input"
  />

  <label for="introduction" class="label">Invoice introduction:</label>

  <textarea
    formControlName="introduction"
    class="text"
    id="introduction"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
  >
  </textarea>

  <label for="notes" class="label">Notes</label>

  <textarea
    id="notes"
    formControlName="Note"
    class="text"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
  ></textarea>
</form>
