<form class="container" [formGroup]="invoiceDetails" name="invoiceDetails">
  <label for="startDate" class="label">Invoice Period</label>
  <div class="dates">
    <input
      formControlName="startDate"
      class="date input"
      id="startDate"
      type="date"
      (change)="refreshDueDate()"
    />

    <input
      formControlName="endDate"
      class="date input"
      id="endDate"
      type="date"
    />
  </div>
  <label for="invoiceType" class="label">Invoice type</label>
  <select class="input" id="invoiceType" formControlName="invoiceType">
    <option value="326">Partial invoice</option>
    <option value="380">Commercial invoice</option>
    <option value="384">Corrected invoice</option>
    <option value="389">Self-billed Invoice</option>
    <option value="381">Credit note</option>
    <option value="875">Partial construction invoice</option>
    <option value="876">Partial final contruction invoice</option>
    <option value="877">Final construction invoice</option>
  </select>

  <label for="vatPercent" class="label">VAT %</label>
  <input
    id="vatPercent"
    formControlName="vatPercent"
    type="number"
    maxlength="2"
    class="input"
  />
  <label for="currency" class="label">Currency</label>

  <select class="input" id="currency" formControlName="currency">
    <option value="$">USA</option>
    <option value="Ron">RON</option>
    <option value="€">EUR</option>
  </select>

  <label for="orderRef" class="label">Order reference</label>
  <input formControlName="orderRef" id="orderRef" type="text" class="input" />
  <label for="contractRef" class="label">Contract reference</label>
  <input
    formControlName="contractRef"
    id="contractRef"
    type="text"
    class="input"
  />

  <label for="introduction" class="label">Invoice introduction:</label>

  <textarea
    formControlName="introduction"
    class="text"
    id="introduction"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
  >
  </textarea>

  <label for="notes" class="label">Notes</label>

  <textarea
    id="notes"
    formControlName="notes"
    class="text"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
  ></textarea>
</form>
