<div class="container" *ngIf="user">
<div class="chart" >
      <span>Sales(€)</span>
      <hr>
 <ngx-charts-bar-vertical
     [view]="[600,300]"
     [results]="saleData"   
     [showYAxisLabel]="true"
     [xAxis]="true"
     [yAxis]="true"
     [gradient]="true">
 </ngx-charts-bar-vertical>
 </div>
      <div class="chart" >
            <span>Sales (€)</span>
            <hr>
       <ngx-charts-bar-vertical
           [view]="[600,300]"
           [results]="saleData"
           [showYAxisLabel]="true"
           [xAxis]="true"
           [yAxis]="true"
           [gradient]="true">
       </ngx-charts-bar-vertical>
       </div>
       </div>