<div class="container">
  <p class="label">Search Client</p>
  <form class="searchform">
    <div matRipple [matRippleColor]="'#6bc2f520'">
      <input
        type="text"
        class="search"
        required
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
    </div>
    <mat-autocomplete
      class="mat-input-element"
      #auto="matAutocomplete"
      (optionSelected)="
        onSearchClient();
        (searchControl.markAsUntouched);
        searchControl.setValue('')
      "
    >
      <mat-option
        *ngFor="let option of filteredoptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </form>
</div>
