<div class="container">
  <div class="content">
    <img src="assets/InvoiceFreeLogo3.png" class="logo" />

    <a
      [routerLink]="['']"
      class="button button2"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="listToggle = true"
      ><div class="routes">Create Invoice</div></a
    >
    <div class="listcontainer">
      <ul class="list" *ngIf="listToggle" @enterleave [@.disabled]="animif">
        <li><a (click)="export()" class="listitem">Export</a></li>
        <li><a href="" class="listitem">Save</a></li>
        <li><a href="" class="listitem">New</a></li>
        <li class="listinputs">
          <label class="listtext">VAT % :</label
          ><input
            class="vatinput"
            type="text"
            maxlength="2"
            [value]="vatpercent"
          />
        </li>
        <li class="listinputs">
          <label class="listtext">Due period :</label
          ><input
            class="vatinput"
            type="text"
            maxlength="2"
            [value]="vatpercent"
          />
        </li>
        <li class="listtext totals">
          Net :
          <input class="totalsinput" [value]="getNetto() | currency" disabled />
        </li>
        <li class="listtext totals">
          VAT :
          <input class="totalsinput" [value]="getVat() | currency" disabled />
        </li>
        <li class="listtext totals">
          Total :
          <input class="totalsinput" [value]="getTotal() | currency" disabled />
        </li>
      </ul>
    </div>
    <a
      [routerLink]="['dashboard/company/', company.name]"
      *ngIf="company"
      class="button button3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><div class="routes">Dashboard</div></a
    >
    <a
      [routerLink]="['dashboard']"
      *ngIf="!company"
      class="button button3"
      routerLinkActive="active"
      (click)="listToggle = false"
      ><div class="routes">Dashboard</div></a
    >
  </div>
</div>
