.container{
      display: flex;
      flex-direction: column;
      padding-top: 4rem;
      gap:3rem;
}
.search{
      display: flex;
      input{
            margin: auto;
            width: 40%;
            background-color: rgba(128, 128, 128, 0.247);
            height: 2.6em;
            border: none;
            font-family: 'Times New Roman', Times, serif;
            border-radius: 10px;
            padding: 5px;
      }
}
.content{
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: auto;
      gap: 2em;
      textarea{
            resize: vertical;
            
      }
      input,textarea{
            
            border: none;
            border-radius: 10px;
            padding-left: 5px;
            &:invalid{
                  background-color: rgba(255, 0, 0, 0.099);
            }
            &:valid{
                  background-color:rgba(219, 255, 214, 0.553);
            }
            
      }
      input{
            height: 2.6em;
      }
      
}

      .save{
            background-color: rgb(166, 237, 134);
            color: white;
            position: fixed;
            bottom: 1rem;
            right: 20%;
            z-index: 100;
            transform: scale(1.3);
      }
      

