.signout {
  all: unset;
  color: #3c5a5a;
  font-family: "Poppins", sans-serif;
  font-size: calc(16px + 0.1vw);
  letter-spacing: 0.5px;
  font-weight: 800;
  cursor: pointer;
  padding: 0.2em 0.5em;
}
