<div class="table" id="content" [formGroup]="tabel">
  <p class="column-label">Pos.</p>
  <p class="column-label" value="Article">Article</p>
  <p class="column-label" value="Unit">Unit</p>
  <p class="column-label" value="Ammount">Ammount</p>
  <p class="column-label">Cost per unit ({{ currency }})</p>
  <p class="column-label">Total</p>

  <div
    @slide
    [@.disabled]="disableAnimation"
    class="row"
    formArrayName="array"
    *ngFor="let row of tabel.controls.array.controls; index as i"
  >
    <input class="pos" [value]="i + 1" disabled />
    <ng-container [formGroupName]="i">
      <textarea
        @slide
        placeholder="Article"
        class="articol"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        formControlName="articol"
        required
        [matAutocomplete]="auto2"
      ></textarea>
      <mat-autocomplete
        class="mat-input-element"
        #auto2="matAutocomplete"
        (optionSelected)="autofillRow($event.option.value, i)"
      >
        <mat-option
          *ngFor="let option of filteredOptions[i] | async"
          [value]="option.articol"
        >
          {{ option.articol }}
        </mat-option>
      </mat-autocomplete>
      <input
        @slide
        required
        type="text"
        class="unit"
        formControlName="unit"
        placeholder="Unit"
      />
      <input
        @slide
        required
        type="number"
        class="bucati"
        formControlName="bucati"
        placeholder="Ammount"
      />
      <input
        @slide
        required
        type="number"
        class="prett"
        formControlName="pret"
        placeholder="Price per Unit"
      />
    </ng-container>
    <input
      @slide
      type="text"
      class="total"
      lang="de"
      [value]="suma(i) | currency : currency"
      disabled
    />
    <button (click)="removeInput(i)" class="minus" [tabindex]="-1">
      <mat-icon class="actionslabel">delete_outline</mat-icon>
    </button>
  </div>
  <button (click)="addInput()" class="add-row">+ Add row</button>
</div>
