.table {
  display: grid;
  grid-template-columns:
    3em minmax(15em, 50em) repeat(4, minmax(5em, auto))
    3em;
  background-color: var(--clr-secondary);
  width: 100%;
  padding: 1em;
}
input:disabled {
  color: black;
}
textarea.ng-invalid:not(form),
input.ng-invalid {
  border-bottom: 1px solid var(--clr-accent-red);
}

textarea::placeholder {
  color: transparent;
}

input::placeholder {
  color: transparent;
}
input {
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--clr-primary-light);
  outline: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.articol {
  all: unset;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid var(--clr-primary-light);
  background-color: transparent;
  outline: none;
  overflow: hidden;
  min-height: 40px;
  padding-top: 1em;
  font-size: 14px;
}

.minus {
  background-color: transparent;
  cursor: pointer;
  color: #f76161;
  border: none;
  height: 3em;
  margin: auto;
  width: 100%;
}
.add-row {
  all: unset;
  grid-column: 2;
  background-color: var(--clr-primary-light);
  color: var(--clr-secondary);
  padding: 0.5em 0.2em;
  text-align: center;
  width: 5rem;
  margin: 2rem 0;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 0px hsl(0deg 0% 0% / 35%);
}
.icon {
  transform: scale(1.5);
}
.row {
  grid-column-start: 1;
  grid-column-end: 8;

  display: grid;
  grid-template-columns:
    3em minmax(15em, 50em) repeat(4, minmax(5em, auto))
    3em;
}
.column-label {
  color: var(--clr-primary-light);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  white-space: nowrap;
}
