<div class="container" id="container">
  <div class="header">
    <app-client class="client"></app-client>
    <app-provider class="provider"></app-provider>
  </div>
  <app-text-dates></app-text-dates>
  <app-tabel></app-tabel>

  <!-- <div class="plusminus">
    <div>
      <button mat-fab (click)="newbill()" class="newbill">New</button>
      <button mat-fab class="save">Save</button>
      <button mat-fab (click)="print()" class="save">.Pdf</button>
    </div>
  </div>
  <div class="savenew"></div>
</div> -->
</div>
