
.container{
      padding: 4rem 1em 20rem 1em;
      display: flex;
      flex-direction: column;
      min-height: 140%;
      max-width: 100%;
      
      
}

.header{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2em;
      gap: 3em;
      .leftside{
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 40%;
      }
      .search{
            border: none;
            background-color: rgba(128, 128, 128, 0.142);
            height: 2.6em;
            width: 100%;
            border-radius: 15px;
            padding-left: 25px;

      }
      
      img{
            height: 15em;
      }
      .detaliifirma{
            display: flex;
            gap:3em;
            font-size: 12px;
            justify-content: center;
      }
      .detaliifirma2{
            input{
                  width: 100%;
                  height: 2.6em;
                  border: none;
                  text-align: center;
                  background-color:rgba(128, 128, 128, 0.142);
            }
            textarea{
                  text-align: center;
                  font-size: 14px;
                  line-height: 1em;
                  border: none;
                  background-color:rgba(128, 128, 128, 0.142);
                  overflow: hidden;
                  padding: 5px !important;
                  width: 100%;
            }
            p{
                  font-size: small;
                  margin: 0;
            }
      }
      .clientdata{
            width: 100%;
            display: flex;
            flex-direction: column;
            input{
                  width: 100%;
                  height: 2.6em;
                  border: none;
                  text-align: center;
                  background-color:rgba(128, 128, 128, 0.142);
            }
            textarea{
                  text-align: center;
                  font-size: 14px;
                  line-height: 1em;
                  border: none;
                  background-color:rgba(128, 128, 128, 0.142);
                  overflow: hidden;
                  padding: 5px !important;
            }
            p{
                  font-size: small;
                  margin: 0;
            }
      }

}
.contcont{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2em;
      page-break-inside: auto;

}
.text{
      display: flex;
      flex-direction: column;
      gap: 2em;
      .adresare{
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: left;
      }
      .dates{  
            display: flex;
            justify-content: space-evenly;
            .nrfactura{
                  font-size: 14px;
                  padding: 0.2em;
                  border: none;
                  width: 5em;
                  text-align: center;
                  background-color:rgba(128, 128, 128, 0.142);
            }
            .pap{
                  background-color:rgba(128, 128, 128, 0.142) ;
                  width: 3em;
                  font-size: 14px;
                  padding: 0.2em;
                  border: none;

            }

            .label{
                  display: flex;
                  flex-direction: column;
                  gap:1em;
            }
            label{
                  margin: auto 0;
                  font-size: 14px;
            }
            .date{
                  background-color:rgba(128, 128, 128, 0.142);
                  border: none;
                  font-size: 14px;
                  padding: 0.2em;
            }

      }
}
.content{
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      width: 100%;
      margin-top: 1em;
      .tablerow{
      display:grid;
      grid-template-columns: 3em 2fr repeat(3,auto) 3em  ;
      grid-template-rows: auto;
      row-gap: 0.2em;
      }

      input{
            
            border: none;
            text-align: center;
            background-color:rgba(128, 128, 128, 0.247);
            font-size: 16px;
            
      }
      textarea{
            grid-column: 2;
            font-size: 14px;
            line-height: 1em;
            padding: 0.5em 5px !important;
            overflow: hidden;
            border: none;
           
            background-color:rgba(128, 128, 128, 0.247);
      }
      
      p{
            text-align: center;
            font-size: 1.3em;
      }
      .minus{
            background-color: rgba(255, 218, 218, 0.189);
            color: #f36767;
            border: 1px solid rgba(255, 0, 0, 0.259);
      }
      .tableheader{
            display: grid;
            grid-template-columns: 3em 2fr repeat(3,auto) 3em;
            grid-template-rows: 2.4em;
      }
      .poshead{
            background-color:rgba(128, 128, 128, 0.392);

      }

      .bucatihead{
            background-color:rgba(128, 128, 128, 0.392) ;
      }
      .summehead{
            background-color: rgba(128, 128, 128, 0.392);
      }
      .pos{
            grid-column: 1;
            background-color:rgba(128, 128, 128, 0.392);
      }
      
      .bucati{
            background-color:rgba(128, 128, 128, 0.392);
      }
      .total{
            background-color:rgba(128, 128, 128, 0.392);
      }
            
      

}
.netto{   
      margin: 3em auto;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      position: sticky;
      .tvacontainer{
            display: flex;
      }
      p{    margin: 0;
            line-height: normal;
            padding: 0.2em;
            background-color:rgb(207, 207, 207);
            width: fit-content;
      }
      .leftside{
            display: grid;
            grid-template-columns: auto 7rem auto;
            gap: 0;
            input{
                  grid-column: 2;
                  padding: 0;

            }
            .mwst{
                  grid-column: 1;
            }
            .procent{
                  grid-column: 3;
            }
      }
      
      input{
            height: 2em;
            border: none;
            text-align: center;
            background-color:rgb(206, 206, 206);
      }
      .totalcontainer{
            display: flex;
      }
      .nettocontainer{
            display: flex;
      }
}
.plusminus{
      display: flex;
      gap: 1em;
      position: fixed;
      z-index: 100;
      right: 5%;
      bottom: 0;
      text-align: center;
      border-radius: 50%;
      gap: 2em;
      div{
            display: flex;
            gap: 1em;
      }
      .plus{
            transform: scale(1.3);
            background-color: rgb(166, 237, 134);
            bottom: 1rem;
      }
      
      .save{
      background-color: #3b923b;   
      bottom: 0.5rem;
      font-weight:500;
      font-size: 16px;
      }
      .newbill{
            bottom: 0.5rem;
            font-size: 16px;
      }
      .icon{
            transform: scale(1.5);
      }

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
      appearance: texttfiled;
      -moz-appearance:textfield;

}
@media only screen and (max-width:890px){
      .container{
            padding-top: 4rem;
            min-height: 120%;
      }
      .content{
            gap:0.5em;
            .tabelhead{
                  display: none;
            }
            .bucati{
                  background-color: rgba(128, 128, 128, 0.247) ;
            }
            .pos{
                  background-color: rgba(242, 242, 242, 0.475);
            }
            input{
                  min-height: 2.6em;
                  outline:none ;
                  caret-color: #DDF2FF;
            }
            span{
                  min-height: 2.6em;
                  outline: none;
                  caret-color:#DDF2FF;
            }
            display: flex;
            flex-direction: column;
            width: 100%;
      }
      .header{
      .imgcontainer{
            display: none;
      }
}
      .leftside{
            width: 100% !important;
            input,textarea{                  
                  width: 100%;
            }
      }
      .total{
            display: none;
      }
      .plusminus{
            right:2em;
            flex-direction: row-reverse;
            bottom: 1rem;
            top: auto;

            .plus{
                  transform: scale(1.2);
            }
            .minus{
                  transform: scale(0.8);
            }
      }
      .netto{
            margin:  2em auto;
            width: 100%;
            input{
                  width: 50%;
                  background-color:rgb(128, 128, 128) ;
            }
            .mwst{
                  width: 35%;
            }
      }
      
}
@media print{
      .newbill{
            display: none;
      }

      img{
            height: 12em !important;
      }
      .header{
            .leftside{
                  width: 60%;
            }
      }
      .container{
            padding: 0;
            color: black;
            background-color: white;
            min-height: 0;
            font-size: 12px;
      }
      .content{
            
            break-inside: auto;
      }
      .tablerow{
            grid-template-columns: 4em 1fr repeat(3,8em) !important; 
            row-gap: 0.3em;
            break-inside: avoid !important;
            
      }
      .tableheader{
            grid-template-columns: 4em 1fr repeat(3,8em) !important;
      }
      .netto{
            .leftside{
                  grid-template-columns: auto 7.8rem auto;
            }
            break-inside: avoid;
            p{
                  font-size: 14px;
            }
      }

     .plusminus{
            display: none;
     }
     .save{
      display: none;
     }
     .searchform{
      display: none;
     }
     .minus{
      display: none;
     }
     .contcont{
      height: auto;
}
}