<div>
  <div class="header">
    <input
      type="checkbox"
      class="checkbox"
      [(ngModel)]="deliveryToggle"
      (change)="toggleDelivery()"
    />
    <p
      [ngClass]="{
        tabName: true,
        tabNameDisabled: !deliveryToggle
      }"
    >
      DELIVERY
    </p>
    <form [formGroup]="deliverydate">
      <input type="date" class="date" formControlName="ActualDeliveryDate" />
    </form>
  </div>
  <div *ngIf="deliveryToggle" @openClose class="body">
    <div class="label">Adress</div>
    <div class="formatted-adress">
      <div *ngIf="adress?.Postbox">{{ adress?.Postbox }},&nbsp;</div>
      <div *ngIf="adress?.StreetName">{{ adress?.StreetName }}&nbsp;</div>
      <div *ngIf="adress?.BuildingNumber">
        {{ adress?.BuildingNumber }},&nbsp;
      </div>
      <div *ngIf="adress?.CityName">{{ adress?.CityName }},&nbsp;</div>
      <div class="break"></div>
      <div *ngIf="adress?.CountrySubentity">
        {{ adress?.CountrySubentity }},&nbsp;
      </div>
      <div *ngIf="adress?.Country.IdentificationCode">
        {{ adress?.Country.IdentificationCode }}&nbsp;
      </div>
      <div *ngIf="adress?.PostalZone">{{ adress?.PostalZone }}</div>
    </div>

    <button class="button" (click)="openModal()">Search</button>
  </div>
</div>
