.clientdata {
  width: 100%;
  display: flex;
  flex-direction: column;

  .input {
    width: 100%;
    height: 2.6em;
    outline-color: var(--clr-linksactive);
    border: 3px solid var(--clr-darkinputs);
    background-color: transparent;
  }
  .outerinput {
    padding: 1.5em 0.2em;
    text-align: center;
  }
  .label {
    text-align: left;
    margin-bottom: -7px;
    z-index: 2;
    font-size: 14px;
    padding: 0 0.1em 0 0.1em;
    margin-left: 4px;
    background-color: var(--clr-background);
    width: fit-content;
    color: var(--clr-links);
  }
  .adress {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 3px solid var(--clr-darkinputs);
    display: grid;
    width: 100%;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
    column-gap: 5px;
    row-gap: 3px;
    padding: 1em 0.5em 0.5em 2em;
  }
  .adresstitle {
    font-size: 15px;
  }
  .adresslabel {
    font-size: 12px;
    text-align: center;
    margin: auto;
  }
  .adressinput {
    height: 1.6em;
    background-color: transparent;
  }
  // .saveclient {
  //   align-self: flex-end;
  //   margin-top: 1em;
  //   color: #2adf2a;
  //   background-color: var(--clr-add);
  //   border: 1px solid rgb(73, 249, 73);
  //   padding: 0.4em 1em;
  //   text-align: center;
  //   color: #37ff48;
  //   font-size: 16px;

  //   border-radius: 15px;
  // }
}

@media print {
  .label {
    background-color: white;
  }
}
