<form [formGroup]="showclient" class="clientdata">
  <p class="label">Client</p>
  <div matRipple [matRippleColor]="'#6bc2f520'">
    <input type="text" class="input outerinput" formControlName="name" />
  </div>
  <p class="label">Reg. Number</p>
  <div matRipple [matRippleColor]="'#6bc2f520'">
    <input type="text" class="input outerinput" formControlName="cui" />
  </div>
  <p class="label adresstitle">Adress</p>
  <div class="adress" formGroupName="adresa">
    <label class="adresslabel" for="country">Country:</label>
    <input
      class="input adressinput"
      type="text"
      id="country"
      formControlName="country"
    />
    <label class="adresslabel" for="region">Region:</label>
    <input
      class="adressinput input"
      type="text"
      id="region"
      formControlName="region"
    />
    <label class="adresslabel" for="city">City:</label>
    <input
      class="adressinput input"
      type="text"
      id="city"
      formControlName="city"
    />
    <label class="adresslabel" for="street">Street:</label>
    <input
      class="adressinput input"
      type="text"
      id="street"
      formControlName="street"
    />
    <label class="adresslabel" for="number">Nr:</label>
    <input
      class="adressinput input"
      type="text"
      id="number"
      formControlName="number"
    />
    <label class="adresslabel" for="postalCode">Zip:</label>
    <input
      class="adressinput input"
      type="text"
      id="postalCode"
      formControlName="postalCode"
    />
  </div>
  <p class="label">Telephone:</p>
  <div matRipple [matRippleColor]="'#6bc2f520'">
    <input type="text" class="input outerinput" formControlName="phone" />
  </div>
  <p class="label" *ngIf="show || this.showclient.controls.email.value">
    Email:
  </p>
  <div matRipple [matRippleColor]="'#6bc2f520'">
    <input
      class="input outerinput"
      *ngIf="show || this.showclient.controls.email.value"
      type="text"
      formControlName="email"
    />
  </div>
</form>
