<div class="adresare">
  <span
    role="textbox"
    class="adresaretext"
    id="adresaretext"
    (input)="saveData()"
    contenteditable
    >Thank you for your order and your trust. <br />You will be charged the
    following amount for our work and material:</span
  >
</div>
<div class="dates">
  <div>
    <label for="nrfactura">Invoice Nr.:</label>
    <input class="pap" />
    <input
      type="number"
      id="nrfactura"
      class="nrfactura"
      (change)="savenrfactura()"
      [(ngModel)]="nrfactura"
    />
    <input class="pap" />
  </div>
  <div>
    <label for="datenow">Issued:</label>
    <input type="date" class="date" (change)="autodate()" [(ngModel)]="emisa" />
  </div>
  <div>
    <label for="scadenta">Due:</label>
    <input class="date" type="date" [value]="scadenta" />
  </div>
</div>
