<div class="container">
  <div class="top">
    <a routerLink="company" routerLinkActive="active" class="links"
      >My Company</a
    >
    <a
      routerLink="settings"
      *ngIf="token"
      routerLinkActive="active"
      class="links"
      >Invoice Settings</a
    >
    <a
      routerLink="invoices"
      *ngIf="token"
      routerLinkActive="active"
      class="links"
      >Saved Invoices</a
    >
    <a
      routerLink="under-construction"
      *ngIf="token"
      routerLinkActive="active"
      class="links"
      >Charts</a
    >
  </div>
  <div class="bottom">
    <a routerLink="login" *ngIf="!token">Login</a>
    <a routerLink="signup" *ngIf="!token">Create Account</a>
    <button (click)="logout()" *ngIf="token">Logout</button>
  </div>
</div>
