.upload {
  all: unset;
  padding: 1em;
}
.logo-container {
  height: 15rem;
}
.logo {
  height: 15rem;
}
.input {
  width: 100%;
  font-size: 1.01em;
  padding: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-secondary-light);
  transition-duration: 5s;
  &:focus {
    background-color: #80e6d843;
    transition-duration: 0.55s;
  }
}
.outerinput {
  padding: 0.4em 0.4em;
  text-align: center;
}
.label {
  margin: 20px 0 0 0;
  text-align: left;
  color: var(--clr-secondary-dark);
}
.adress {
  grid-column-start: 1;
  grid-column-end: 3;
  border: none;
  display: grid;
  width: 100%;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
  column-gap: 5px;
  row-gap: 3px;
  padding: 1em 0.5em 0.5em 2em;
}
.adresstitle {
  font-size: 15px;
}
.adresslabel {
  font-size: 12px;
  text-align: center;
  margin: auto;
  color: var(--clr-secondary-dark);
}
.adressinput {
  height: 1.6em;
  background-color: transparent;
}
.ripple {
  border: none;
}
