.logo-container {
  display: inline;
}
.logo {
  align-self: center;
  height: 7rem;
}

.toggle-button {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--clr-secondary-light);
  position: relative;
}
.logo-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto 0;
  color: var(--clr-primary-light);
}
.save {
  all: unset;
  width: 100%;
  text-align: center;
  color: var(--clr-secondary-dark);
  cursor: pointer;
  text-align: flex-end;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition-duration: 0.5s;
}
.save:disabled {
  color: var(--clr-accent-red);
}
.header {
  background-color: var(--clr-primary);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 6px 0px hsl(202deg, 79%, 15%);
  border-radius: 10px;
}
.buttons-container {
  display: flex;
  position: relative;
  gap: 3rem;
}
.companyName {
  color: var(--clr-secondary-light);
  font-family: "Poppins", sans-serif;
  font-size: calc(16px + 0.6vw);
  margin: auto 0;
}

.container {
  background-color: white;
  transition: height 0.5s;
  width: 80%;
  margin: auto;
  box-shadow: 0px 2px 4px 0px hsl(202deg, 79%, 15%);
}
.company-container {
  overflow: hidden;
}
.ng-invalid:not(form) {
  border-bottom: 1px solid var(--clr-accent-red);
}
.ng-valid[required],
.ng-valid.required {
  border-bottom: 1px solid var(--clr-secondary-dark);
}

.company {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 1rem;
  padding: 1rem 5rem 0 5rem;
}

.input {
  width: 100%;
  font-size: calc(16px + 0.03vw);
  text-align: center;
  padding: 10px 0 0 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-secondary-dark);
}
.adressinput {
  font-size: small;
}

.label {
  grid-column: 1;
  color: var(--clr-primary-light);
  font-size: small;
  font-weight: 700;
}
.adresslabel {
  color: var(--clr-primary-light);
  margin: auto auto -3px auto;
  font-size: smaller;
}
.adress-title {
  margin: auto 0;
}
.adress-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
}

.phone {
  margin-top: 10px;
}
.clientname {
  font-size: calc(16px + 0.7vw);
  border: none;
  color: var(--clr-primary);
  border-bottom: 1px solid var(--clr-secondary-dark);
  &:focus {
    background-color: transparent;
  }
}
.ripple {
  border: none;
  height: 100%;
}
.invalid-text {
  grid-column-start: 1;
  grid-column-end: 3;
  color: var(--clr-accent-red);
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 15px 0 10px 0;
}
.show-invalid-text {
  opacity: 1;
}
.hide-invalid-text {
  opacity: 0;
}
