<div class="company-container">
  <form [formGroup]="Supplier" class="container" enctype="multipart/form-data">
    <div class="logo-container" (click)="fileinput.click()">
      <img src="{{ activeImage }}" alt="" class="logo" *ngIf="activeImage" />
      <div *ngIf="!activeImage" class="logo-text">Upload Logo</div>

      <input
        type="file"
        #fileinput
        hidden
        (change)="onFileChange($event); logoChanged = true"
      />
    </div>
    <ng-container formGroupName="Party">
      <ng-container formGroupName="PartyName">
        <label for="PartyName" class="label">Name*</label>
        <input
          type="text"
          id="PartyName"
          class="input outerinput"
          formControlName="Name"
        />
      </ng-container>

      <ng-container formGroupName="PartyIdentification">
        <label for="PartyIdentification" class="label"
          >Tax identification*</label
        >
        <input
          type="text"
          id="PartyIdentification"
          class="input outerinput"
          formControlName="ID"
        />
      </ng-container>
      <label for="EndpointID" class="label">EndpointID</label>
      <input
        type="text"
        id="EndpointID"
        class="input outerinput"
        formControlName="EndpointID"
      />
      <label class="label adresstitle">Adress</label>
      <div class="formatted-adress">
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls.PostBox.value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls.PostBox
              .value
          }},&nbsp;
        </div>
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls.StreetName
              .value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls.StreetName
              .value
          }}&nbsp;
        </div>
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls
              .BuildingNumber.value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls
              .BuildingNumber.value
          }},&nbsp;
        </div>
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls.CityName
              .value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls.CityName
              .value
          }},&nbsp;
        </div>
        <div class="break"></div>
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls
              .CountrySubentity.value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls
              .CountrySubentity.value
          }},&nbsp;
        </div>
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls.Country
              .controls.IdentificationCode.value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls.Country
              .controls.IdentificationCode.value
          }}&nbsp;
        </div>
        <div
          *ngIf="
            Supplier.controls.Party.controls.PostalAdress.controls.PostalZone
              .value
          "
        >
          {{
            Supplier.controls.Party.controls.PostalAdress.controls.PostalZone
              .value
          }}
        </div>
        <button class="button" (click)="openModal()">Search</button>
      </div>

      <ng-container formGroupName="Contact">
        <p class="label">Contact</p>

        <label for="Name" class="label">Name</label>
        <input
          type="text"
          id="Name"
          class="input outerinput"
          formControlName="Name"
        />

        <label for="Telephone" class="label">Telephone</label>
        <input
          type="text"
          id="Telephone"
          class="input outerinput"
          formControlName="Telephone"
        />

        <label for="email" class="label">Email</label>
        <input
          id="email"
          class="input outerinput"
          type="text"
          formControlName="ElectronicMail"
        />
      </ng-container>
    </ng-container>
    <p class="label">Bank Account</p>
    <form formGroupName="PayeeFinancialAccount" class="bank-container">
      <label for="currency">Currency</label>
      <select id="currency" formControlName="CurrencyCode">
        <option value="" *ngFor="let item of currencyList" [value]="item.code">
          {{ item.name }}
        </option>
      </select>
      <label for="ID" class="label">IBAN</label>
      <input
        id="ID"
        class="input outerinput"
        type="text"
        formControlName="ID"
      />
      <form formGroupName="FinancialInstitution">
        <label for="BIC">Swift Code</label>
        <input
          class="input outerinput"
          id="BIC"
          type="text"
          formControlName="ID"
        />
        <label for="name">Bank Name</label>
        <input
          class="input outerinput"
          id="name"
          type="text"
          formControlName="Name"
        />
      </form>
    </form>

    <p
      class="invalid-text"
      [ngClass]="!Supplier.valid ? 'show-invalid-text' : 'hide-invalid-text'"
    >
      Company information incomplete !
    </p>
  </form>
  <button
    class="save"
    (click)="save()"
    [disabled]="Supplier.invalid"
    *ngIf="Supplier.dirty || logoChanged"
  >
    Save
  </button>
</div>
