<div class="company-container">
  <form
    [formGroup]="Supplier"
    *ngIf="toggle"
    class="container"
    enctype="multipart/form-data"
    @slide
  >
    <label for="PartyName" class="label">Name*</label>
    <input
      type="text"
      id="PartyName"
      class="input outerinput"
      formControlName="PartyName"
    />

    <button class="toggle-button" (click)="toggle = !toggle">
      <span class="companyName">{{ companyName || "My Company" }}</span>
    </button>
    <button
      class="save"
      (click)="save()"
      [disabled]="Supplier.invalid"
      *ngIf="Supplier.dirty || logoChanged"
    >
      Save
    </button>
    <div class="logo-container" (click)="fileinput.click()" *ngIf="user">
      <img src="{{ activeImage }}" alt="" class="logo" *ngIf="activeImage" />
      <div *ngIf="!activeImage" class="logo-text">Upload Logo</div>

      <input
        type="file"
        #fileinput
        hidden
        formControlName="Logo"
        (change)="onFileChange($event); logoChanged = true"
      />
    </div>
    <label for="PartyIdentification" class="label">Tax identification*</label>
    <input
      type="text"
      id="PartyIdentification"
      class="input outerinput"
      formControlName="PartyIdentification"
    />

    <label class="label adresstitle">Adress</label>
    <form formGroupName="PostalAdress" class="adress-container">
      <label class="adresslabel">Str.</label>

      <input
        class="adressinput input"
        type="text"
        id="street"
        formControlName="StreetName"
      />

      <label class="adresslabel">Nr.</label>

      <input
        class="adressinput input"
        type="text"
        id="number"
        formControlName="BuildingNumber"
      />
      <label class="adresslabel">City</label>

      <input
        class="adressinput input"
        type="text"
        id="city"
        formControlName="CityName"
      />
      <label class="adresslabel">Region</label>

      <input
        class="input adressinput"
        type="text"
        id="region"
        formControlName="CountrySubentity"
      />
      <ng-container formGroupName="Country">
        <label class="adresslabel">Country</label>

        <input
          class="adressinput input"
          type="text"
          id="country"
          formControlName="IdentificationCode"
        />
      </ng-container>
      <label class="adresslabel">Postal Zone</label>

      <input
        class="adressinput input"
        type="text"
        id="postalCode"
        formControlName="PostalZone"
      />
    </form>
    <p class="label">Contact</p>
    <form formGroupName="Contact">
      <label for="Name" class="label">Name</label>
      <input
        type="text"
        id="Name"
        class="input outerinput"
        formControlName="Name"
      />

      <label for="Telephone" class="label">Telephone</label>
      <input
        type="text"
        id="Telephone"
        class="input outerinput"
        formControlName="Telephone"
      />

      <label for="email" class="label">Email</label>
      <input
        id="email"
        class="input outerinput"
        type="text"
        formControlName="ElectronicMail"
      />
    </form>

    <p class="label">Bank Account</p>
    <form formGroupName="PayeeFinancialAccount" class="bank-container">
      <label for="ID" class="label">IBAN</label>
      <input
        id="ID"
        class="input outerinput"
        type="text"
        formControlName="ID"
      />
      <form formGroupName="FinancialInstitution">
        <label for="currency">Currency</label>
        <select id="currency">
          <option value="" *ngFor="let item of currencyList">item</option>
        </select>
        <label for="BIC">Swift Code</label>
        <input
          class="input outerinput"
          id="BIC"
          type="text"
          formControlName="ID"
        />
      </form>
    </form>

    <p
      class="invalid-text"
      [ngClass]="!Supplier.valid ? 'show-invalid-text' : 'hide-invalid-text'"
    >
      Company information incomplete !
    </p>
  </form>
</div>
