.container {
  display: flex;
  justify-content: space-evenly;
}
.ng-invalid:not(form) {
  border: 1px solid var(--clr-accent-red);
}
.items {
  display: flex;
  margin: auto;
  white-space: nowrap;
}

.nrfactura {
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  color: var(--clr-secondary-dark);
  text-align: center;
  border: 1px solid var(--clr-primary-light);
  outline: none;
  background-color: #ffffff11;

  border-radius: 10px;
  &:focus {
    background-color: var(--clr-input-focused);
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
label {
  margin: auto 10px;
  font-size: 14px;
  color: var(--clr-primary-light);
}
.date {
  color: var(--clr-secondary-dark);
  border: none;
  font-size: 16px;
  padding: 0.2em;

  outline: none;
}
