<div class="card">
  <div>
    <div class="header">
      <p class="title">Log in</p>
      <a [routerLink]="['/signup']">
        <p class="signup">Don't have an account</p></a
      >
    </div>
    <form #signin="ngForm" (submit)="login(signin)" class="content">
      <div matRipple [matRippleColor]="'#80e6d919'" class="ripple">
        <input
          class="input"
          name="email"
          type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="e-mail"
          required
          ngModel
        />
      </div>
      <div matRipple [matRippleColor]="'#80e6d919'" class="ripple">
        <input
          class="input"
          type="password"
          name="password"
          required
          placeholder="password"
          ngModel
        />
      </div>
      <button
        type="submit"
        name="submit"
        class="button"
        [disabled]="!signin.valid"
      >
        Log in
      </button>
    </form>
  </div>
</div>
