<form class="form">
  <input
    type="text"
    class="search"
    placeholder="Search"
    id="search"
    required
    [formControl]="searchControl"
    [matAutocomplete]="auto"
  />

  <mat-autocomplete
    class="mat-input-element"
    #auto="matAutocomplete"
    (optionSelected)="
      onSearchClient(); (searchControl.markAsUntouched); searchControl.reset()
    "
  >
    <mat-option *ngFor="let option of clientList" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</form>
