.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
p {
  white-space: nowrap;
}
.invoice-container {
  background-color: rgb(244, 246, 248);
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-areas:
    "logo supplier supplier"
    "client client delivery "
    "intro intro details"
    "table table table";

  column-gap: 1rem;
  row-gap: 2rem;
  margin: 0;
  box-shadow: 1px 1px 4px 0px hsl(0deg 0% 0% / 35%);
  padding: 2rem 1rem;
}
.img-container {
  grid-area: "logo";
  .logo {
    object-fit: contain;
    max-height: 7rem;
  }
}
.formated-adress {
  display: flex;
  flex-wrap: wrap;
}
.break {
  height: 0;
  flex-basis: 100%;
}
.supplier {
  grid-area: supplier;
}
.client {
  grid-area: client;
}
.supplier-name {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 1rem 0;
}
.client-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 1rem 0;
}
.body {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 1rem;
  .adress {
    display: flex;
    margin: auto;
    gap: 0.5rem;
  }
}
.contact {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 1rem;
  p {
    margin: 0;
  }
  .icon-label {
    transform: scale(0.8);
  }
}
.client-body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  .adress {
    display: flex;
    gap: 0.5rem;
  }
  .contact {
    margin: 0;
  }
}

.icon-label,
.text-label {
  color: var(--clr-primary-light);
  align-self: flex-start;
  margin: 0;
}

.base {
  display: flex;
  gap: 0.5rem;
}
.introduction {
  grid-area: intro;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  text-align: center;
}
.invoice-details {
  grid-area: details;

  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 1rem;
}
.table {
  grid-area: table;
}
.table-header,
.row {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns:
    3em minmax(15em, 50em) repeat(5, minmax(5em, auto))
    3em;
}
@media print {
  .container {
    display: flex;
  }
  .invoice-container {
    box-shadow: none;
    width: 100%;
    padding: 2px;
    background-color: white;
  }
  .buttons-container {
    display: none;
  }
}
