<div class="container">
  <div class="invoice-container">
    <div class="title">
      <h1 class="invoice">INVOICE</h1>
      <div class="item">
        <p class="label">Invoice Nr.</p>
        <p class="value">{{ invoiceNrandDate.invoiceNr }}</p>

        <p class="label">Issued</p>
        <p class="value">{{ invoiceNrandDate.issued | date }}</p>

        <p class="label">Due</p>
        <p class="value">{{ invoiceDetails.endDate | date }}</p>
      </div>
    </div>
    <div class="section" *ngIf="company">
      <h2 class="companyName">{{ company.Party.PartyName.Name }}</h2>
      <div class="imgcontainer">
        <img *ngIf="logo" [src]="logo" alt="logo" class="logo" />
      </div>

      <div class="details">
        <mat-icon class="icon-label">location_on</mat-icon>
        <p class="value">
          {{ company.Party.PostalAdress.StreetName }}
          {{ company.Party.PostalAdress.BuildingNumber }},
          {{ company.Party.PostalAdress.CityName }},
          {{ company.Party.PostalAdress.CountrySubentity }},
          {{ company.Party.PostalAdress.Country.IdentificationCode }},
          <br />Postal Zone
          {{ company.Party.PostalAdress.PostalZone }}
        </p>
        <label>Contact</label>
        <p>{{ company.Party.Contact.Name }}</p>
        <mat-icon class="icon-label" *ngIf="company.Party.Contact.Telephone"
          >local_phone</mat-icon
        >
        <p class="value" *ngIf="company.Party.Contact.Telephone">
          {{ company.Party.Contact.Telephone }}
        </p>
        <mat-icon
          class="icon-label"
          *ngIf="company.Party.Contact.ElectronicMail"
          >email</mat-icon
        >
        <p class="value" *ngIf="company.Party.Contact.ElectronicMail">
          {{ company.Party.Contact.ElectronicMail }}
        </p>

        <mat-icon class="icon-label">credit_card</mat-icon>

        <p class="value">
          {{ user.PayeeFinancialAccount.FinancialInstitution.Name }}
        </p>
        <p class="value">{{ user.PayeeFinancialAccount.ID }}</p>
        <p class="value">
          {{ user.PayeeFinancialAccount.FinancialInstitution.ID }}
        </p>
      </div>
    </div>
    <div class="separator">
      <p>Buyer:</p>
      <p *ngIf="deliveryAdress">Delivery to:</p>
    </div>
    <div
      [ngClass]="{
        section: true,
        'separator-single': !deliveryAdress
      }"
    >
      <div class="body">
        <h2 class="clientName">{{ client.Party.PartyName }}</h2>
        <div class="details">
          <mat-icon class="icon-label">location_on</mat-icon>
          <p class="value">
            {{ client.Party.PostalAdress.StreetName }}
            {{ client.Party.PostalAdress.BuildingNumber }},
            {{ client.Party.PostalAdress.CityName }},
            {{ client.Party.PostalAdress.CountrySubentity }},
            {{ client.Party.PostalAdress.Country.IdentificationCode }}, Postal
            Code
            {{ client.Party.PostalAdress.PostalZone }}
          </p>
          <label>Contact</label>
          <p>{{ client.Party.Contact.Name }}</p>
          <mat-icon class="icon-label" *ngIf="client.Party.Contact.Telephone"
            >local_phone</mat-icon
          >
          <p class="value" *ngIf="client.Party.Contact.Telephone">
            {{ client.Party.Contact.Telephone }}
          </p>
          <mat-icon
            class="icon-label"
            *ngIf="client.Party.Contact.ElectronicMail"
            >email</mat-icon
          >
          <p class="value" *ngIf="client.Party.Contact.ElectronicMail">
            {{ client.Party.Contact.ElectronicMail }}
          </p>
        </div>
      </div>
    </div>
    <div class="invoice-details">
      <span>{{ invoiceDetails.introduction }}</span>
    </div>
    <div class="table">
      <div class="table-header">
        <p>Pos.</p>
        <p>Article</p>
        <p>Unit</p>
        <p>Ammount</p>
        <p>Cost per unit</p>
        <p>Total</p>
      </div>
      <div class="row" *ngFor="let item of table; index as i">
        <p>{{ i + 1 }}</p>
        <span>{{ item.articol }}</span>
        <p>{{ item.unit }}</p>
        <p>{{ item.bucati }}</p>
        <p>
          {{
            item.pret.toLocaleString(undefined, {
              minimumFractionDigits: 2,
              maximumFractionDigits: 2
            })
          }}
          {{ invoiceDetails.currency }}
        </p>
        <p>
          {{ (item.bucati * item.pret).toLocaleString() }}
          {{ invoiceDetails.currency }}
        </p>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <button class="button" (click)="print()">Save Pdf or Print</button>
  </div>
</div>
