<div class="container">
  <div class="invoice-container">
    <div class="img-container">
      <img *ngIf="logo" [src]="logo" alt="logo" class="logo" />
    </div>
    <div class="supplier" *ngIf="company">
      <h2 class="supplier-name">{{ company.PartyName.Name }}</h2>
      <div class="body">
        <div class="adress">
          <mat-icon class="icon-label">location_on</mat-icon>
          <div class="formated-adress">
            <div *ngIf="company.PostalAdress.Postbox">
              {{ company.PostalAdress.Postbox }},&nbsp;
            </div>
            <div *ngIf="company.PostalAdress.StreetName">
              {{ company.PostalAdress.StreetName }}&nbsp;
            </div>
            <div *ngIf="company.PostalAdress.BuildingNumber">
              {{ company.PostalAdress.BuildingNumber }},&nbsp;
            </div>
            <div *ngIf="company.PostalAdress.CityName">
              {{ company.PostalAdress.CityName }},&nbsp;
            </div>

            <div *ngIf="company.PostalAdress.CountrySubentity">
              {{ company.PostalAdress.CountrySubentity }},&nbsp;
            </div>
            <div *ngIf="company.PostalAdress.Country.IdentificationCode">
              {{ company.PostalAdress.Country.IdentificationCode }}&nbsp;
            </div>
            <div *ngIf="company.PostalAdress.PostalZone">
              {{ company.PostalAdress.PostalZone }}
            </div>
          </div>
        </div>
        <div class="contact">
          <div class="base">
            <mat-icon class="icon-label" *ngIf="company.Contact.Telephone"
              >local_phone</mat-icon
            >
            <p class="company-details" *ngIf="company.Contact.Telephone">
              {{ company.Contact.Telephone }}
            </p>
          </div>
          <div class="base">
            <mat-icon class="icon-label" *ngIf="company.Contact.ElectronicMail"
              >email</mat-icon
            >
            <p class="company-details" *ngIf="company.Contact.ElectronicMail">
              {{ company.Contact.ElectronicMail }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="client">
      <h3 class="client-name">{{ client.Party.PartyName.Name }}</h3>
      <div class="client-body">
        <div class="adress">
          <mat-icon class="icon-label">location_on</mat-icon>
          <div class="formated-adress">
            <div *ngIf="client.Party.PostalAdress.Postbox">
              {{ client.Party.PostalAdress.Postbox }},&nbsp;
            </div>
            <div *ngIf="client.Party.PostalAdress.StreetName">
              {{ client.Party.PostalAdress.StreetName }}&nbsp;
            </div>
            <div *ngIf="client.Party.PostalAdress.BuildingNumber">
              {{ client.Party.PostalAdress.BuildingNumber }},&nbsp;
            </div>
            <div *ngIf="client.Party.PostalAdress.CityName">
              {{ client.Party.PostalAdress.CityName }},&nbsp;
            </div>

            <div *ngIf="client.Party.PostalAdress.CountrySubentity">
              {{ client.Party.PostalAdress.CountrySubentity }},&nbsp;
            </div>
            <div *ngIf="client.Party.PostalAdress.Country.IdentificationCode">
              {{ client.Party.PostalAdress.Country.IdentificationCode }}&nbsp;
            </div>
            <div *ngIf="client.Party.PostalAdress.PostalZone">
              {{ client.Party.PostalAdress.PostalZone }}
            </div>
          </div>
        </div>
        <div class="contact">
          <div class="base">
            <mat-icon class="icon-label" *ngIf="client.Party.Contact.Name"
              >local_phone</mat-icon
            >
            <p class="client-details" *ngIf="client.Party.Contact.Telephone">
              {{ client.Party.Contact.Telephone }}
            </p>
          </div>
          <div class="base">
            <mat-icon
              class="icon-label"
              *ngIf="client.Party.Contact.ElectronicMail"
              >email</mat-icon
            >
            <p
              class="client-details"
              *ngIf="client.Party.Contact.ElectronicMail"
            >
              {{ client.Party.Contact.ElectronicMail }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="delivery" *ngIf="delivery">
      <p class="text-label">date</p>
      <p class="company-details">{{ deliveryDate }}</p>
      <p class="text-label">Adress</p>
      <div class="formated-adress">
        <div *ngIf="client.Party.PostalAdress.Postbox">
          {{ client.Party.PostalAdress.Postbox }},&nbsp;
        </div>
        <div *ngIf="client.Party.PostalAdress.StreetName">
          {{ client.Party.PostalAdress.StreetName }}&nbsp;
        </div>
        <div *ngIf="client.Party.PostalAdress.BuildingNumber">
          {{ client.Party.PostalAdress.BuildingNumber }},&nbsp;
        </div>
        <div *ngIf="client.Party.PostalAdress.CityName">
          {{ client.Party.PostalAdress.CityName }},&nbsp;
        </div>

        <div *ngIf="client.Party.PostalAdress.CountrySubentity">
          {{ client.Party.PostalAdress.CountrySubentity }},&nbsp;
        </div>
        <div *ngIf="client.Party.PostalAdress.Country.IdentificationCode">
          {{ client.Party.PostalAdress.Country.IdentificationCode }}&nbsp;
        </div>
        <div *ngIf="client.Party.PostalAdress.PostalZone">
          {{ client.Party.PostalAdress.PostalZone }}
        </div>
      </div>
    </div>
    <span class="introduction">{{ invoiceDetails.introduction }}</span>
    <div class="invoice-details">
      <p class="label">Invoice Nr.</p>
      <p class="value">{{ invoiceNrandDate.ID }}</p>
      <p class="label">Issued</p>
      <p class="value">{{ invoiceNrandDate.IssueDate | date }}</p>
      <p class="label">Due</p>
      <p class="value">
        {{ invoiceDetails.InvoicePeriod.EndDate | date }}
      </p>
    </div>

    <div class="table">
      <div class="table-header">
        <p>Pos.</p>
        <p>Description</p>
        <p>Unit</p>
        <p>Ammount</p>
        <p>Cost per unit</p>
        <p>Total</p>
      </div>
      <div class="row" *ngFor="let item of table; index as i">
        <p>{{ i + 1 }}</p>
        <span>{{ item.articol }}</span>
        <p>{{ item.unit }}</p>
        <p>{{ item.bucati }}</p>
        <p>
          {{ item.pret }}
          {{ invoiceDetails.currency }}
        </p>
        <p>
          {{ (item.bucati * item.pret).toLocaleString() }}
          {{ invoiceDetails.currency }}
        </p>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <button class="button" (click)="print()">Save Pdf or Print</button>
  </div>
</div>
