/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #e0e5e7,
  100: #b3bdc2,
  200: #809199,
  300: #4d6570,
  400: #264452,
  500: #002333,
  600: #001f2e,
  700: #001a27,
  800: #001520,
  900: #000c14,
  A100: #5599ff,
  A200: #227aff,
  A400: #005fee,
  A700: #0055d4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-secondary: (
  50: #f6f7f9,
  100: #e9ecef,
  200: #dadfe4,
  300: #cbd2d9,
  400: #bfc8d1,
  500: #b4bec9,
  600: #adb8c3,
  700: #a4afbc,
  800: #9ca7b5,
  900: #8c99a9,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d9eaff,
  A700: #bfdcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #e2f4e0,
  100: #b7e5b3,
  200: #87d380,
  300: #56c14d,
  400: #32b426,
  500: #0ea700,
  600: #0c9f00,
  700: #0a9600,
  800: #088c00,
  900: #047c00,
  A100: #a9ffa9,
  A200: #76ff76,
  A400: #43ff43,
  A700: #2aff2a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #ffe0ed,
  100: #ffb3d2,
  200: #ff80b5,
  300: #ff4d97,
  400: #ff2680,
  500: #ff006a,
  600: #ff0062,
  700: #ff0057,
  800: #ff004d,
  900: #ff003c,
  A100: #ffffff,
  A200: #fff2f4,
  A400: #ffbfca,
  A700: #ffa6b5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
