.buttons-container {
  display: flex;
  height: 100%;
}
.button {
  all: unset;
  width: 100%;
  text-align: center;
  color: var(--clr-secondary-dark);
  cursor: pointer;
  text-align: flex-end;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition-duration: 0.5s;
}
.button:disabled {
  color: var(--clr-accent-red);
}

.save {
  color: var(--clr-accent-green);
}

.new {
  &:hover {
    color: var(--clr-secondary-light);
  }
}
