<div class="content" id="content" [formGroup]="tabel">
  <div class="tableheader">
    <input class="pos" value="Pos." disabled />
    <input class="article" value="Article" disabled />
    <input class="unit" value="Unit" disabled />
    <input class="bucati" value="Ammount" disabled />
    <textarea
      class="pret"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      disabled
    >
Cost per unit {{ currency }}</textarea
    >
    <input class="total" value="Total" disabled />
  </div>

  <div
    class="tablerow"
    id="tablerow"
    @enterleave
    [@.disabled]="animif"
    formArrayName="array"
    *ngFor="let row of tabel.controls.array.controls; index as i"
  >
    <input class="pos" [value]="i + 1" disabled />

    <ng-container [formGroupName]="i">
      <textarea
        class="articol"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        formControlName="articol"
        [matAutocomplete]="auto2"
      ></textarea>
      <mat-autocomplete class="mat-input-element" #auto2="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredoptions2[i] | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <input type="text" class="unit" formControlName="unit" />
      <input type="number" class="bucati" formControlName="bucati" />
      <input type="number" class="prett" formControlName="pret" />
    </ng-container>
    <input
      type="text"
      class="total"
      lang="de"
      [value]="suma(i) | currency"
      disabled
    />
    <button (click)="removeInput(i)" class="minus">
      <mat-icon class="actionslabel">delete_outline</mat-icon>
    </button>
  </div>
  <button mat-fab (click)="addInput()" class="plus">
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>
<div class="netto">
  <input class="col1 label" value="Net worth" disabled />
  <input
    type="text"
    name="netto"
    class="col2 value"
    [value]="getNetto() | currency"
    disabled
  />

  <div class="col1">
    <input class="label mwst" value="VAT" disabled />
    <input
      type="text"
      maxlength="2"
      class="col1 value mwst"
      [(ngModel)]="mwst"
    />
    <input class="label mwst" value="%" disabled />
  </div>
  <input
    type="text"
    name="netto"
    class="col2 value"
    [value]="getTva() | currency"
    disabled
  />

  <input class="col1 label total" value="Total" disabled />
  <input
    type="text"
    name="netto"
    class="col2 value total"
    [value]="getTotal() | currency"
    disabled
  />
</div>
