<div class="container" id="container" backgroundColor="primary">
  <div class="tabs">
    <button
      (click)="currentTab = 'client'"
      [ngClass]="currentTab === 'client' ? 'tab-button-active' : 'tab-button'"
    >
      Client
    </button>
    <button
      (click)="currentTab = 'details'"
      [ngClass]="currentTab === 'details' ? 'tab-button-active' : 'tab-button'"
    >
      Invoice Details
    </button>
    <button
      (click)="currentTab = 'articles'"
      [ngClass]="currentTab === 'articles' ? 'tab-button-active' : 'tab-button'"
    >
      Articles
    </button>
  </div>
  <div class="tab-container">
    <div *ngIf="currentTab === 'client'" class="tab">
      <div class="header client">
        <div class="search">
          <app-search-client></app-search-client>
        </div>

        <app-client-controls></app-client-controls>
      </div>
      <div class="body">
        <app-client></app-client>
      </div>
    </div>
    <div
      class="tab"
      id="details-tab"
      *ngIf="currentTab === 'details'"
      class="tab"
    >
      <div class="header"><app-dates></app-dates></div>
      <div class="body">
        <app-invoice-preferences></app-invoice-preferences>
      </div>
    </div>
    <div
      class="tab"
      id="articles-tab"
      *ngIf="currentTab === 'articles'"
      class="tab"
    >
      <div class="header provider">
        <app-invoice-totals></app-invoice-totals>
      </div>
      <div class="body">
        <app-tabel></app-tabel>
      </div>
    </div>
  </div>
</div>
