.sidenav{
      position: fixed;
      left: 0;
      height: 100%;
      width: 15rem;
      background-color:#383d43 ;
      box-shadow: -4px -1px 18px 4px rgba(0, 0, 0, 0.21);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 5em;
      padding-bottom: 5em;
}

/* width */
.actions::-webkit-scrollbar {
      width: 5px;
  }
  
  /* Track */
  .actions::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
  }
  
  /* Handle */
  .actions::-webkit-scrollbar-thumb {
      background: rgb(108, 118, 122); 
      border-radius: 10px;
  }
  

.actions{
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      
}
.action{
      text-decoration: none;
      color: rgb(148, 148, 148);
      width: 100%;
      padding: 2em;
      margin: auto;
      border-bottom: 1px dotted #383d43;
      transition: 300ms;
      &:hover{
            color: #DDF2FF;
            border-bottom: 1px dotted #DDF2FF;
      }

}
.active{
      text-decoration: none;
      color: #DDF2FF;
      width: 100%;
      padding: 2em;
      margin: auto;
      border-bottom: 1px solid #DDF2FF;
      font-size: 20px;
      &:hover{
            color: #DDF2FF;
            border-bottom: 1px solid #DDF2FF;
      }
}
.user{
      padding: 1em;
      display: flex;
      gap: 0.3em;
      position: absolute;
      top: 1em;
      text-decoration: none;

}
.useractive{
      border-bottom: 1px solid #DDF2FF;
      .userdata{
            color: #DDF2FF;
            transition: 200ms;
      }
}
.userdata{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      color: rgb(148, 148, 148);;

}
.username  {
      font-size: 25px;
      word-wrap: wrap;
      margin: 0;
}
.useremail{
      font-size: 10px;
      margin: 0;
}

.imgcontainer{
      img{
            height: 3em;
      }
}
.logoutcontainer{
      position: absolute;
      bottom: 4rem;
      width: 100%;
      display: flex;
      background-color: #383d43;
     
}
.logout{
      text-decoration: none;
      color: rgb(148, 148, 148);     
      margin: auto;
      border-top: 1px solid #525a64;
      width: 90%;
      padding: 1em;
      &:hover{
            color: #DDF2FF;
      }
}