<div class="container">
  <div class="button-container">
    <button
      (click)="saveInvoice()"
      class="button"
      [disabled]="
        !clientValid ||
        !itemsValid ||
        !(detailsValid && invoiceValid) ||
        !deliveryValid
      "
    >
      Save
    </button>
    <a
      [ngClass]="{
        'button-disabled':
          !clientValid ||
          !itemsValid ||
          !(detailsValid && invoiceValid) ||
          !deliveryValid,
        button: true
      }"
      [routerLink]="['/invoice-preview']"
      target="_blanck"
    >
      Export
    </a>
    <button class="button" (click)="newInvoice()">New</button>
  </div>
  <div class="client">
    <div class="header">
      <p class="tabName">CLIENT</p>
      <app-search-client class="search"></app-search-client>

      <button class="toggle" (click)="clientToggle = !clientToggle">
        <mat-icon class="arrow" *ngIf="!clientToggle"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon class="arrow" *ngIf="clientToggle"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </div>
    <p class="client-invalid" *ngIf="!clientValid && !clientToggle">
      Search for a customer, or expand this card to add a new one...
    </p>
    <div
      class="client-details"
      *ngIf="(!clientToggle && clientValid) || (detailsToggle && mediaSub)"
    >
      <p class="name">{{ clientDetails?.PartyName.Name }}</p>
      <div>
        <p class="label">Tax Registration</p>
        <p>{{ clientDetails?.PartyIdentification.ID }}</p>
      </div>
      <div>
        <p class="label">Adress</p>
        <p>
          {{ clientDetails?.PostalAdress.StreetName }}
          {{ clientDetails?.PostalAdress.BuildingNumber }},
          {{ clientDetails?.PostalAdress.CityName }},<br />
          {{ clientDetails?.PostalAdress.CountrySubentity }},
          {{ clientDetails?.PostalAdress.Country.IdentificationCode }},
          {{ clientDetails?.PostalAdress.PostalZone }}
        </p>
      </div>
    </div>

    <div class="body" *ngIf="clientToggle" @openClose>
      <app-client class="form"></app-client>
    </div>
  </div>

  <div class="details-container">
    <div class="details">
      <div class="header">
        <app-dates class="number-date"></app-dates>
        <button class="toggle" (click)="clientToggle = !clientToggle">
          <mat-icon *ngIf="!clientToggle">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="clientToggle">keyboard_arrow_up</mat-icon>
        </button>
      </div>
      <div class="body" *ngIf="clientToggle" @openClose>
        <app-invoice-preferences class="form"></app-invoice-preferences>
      </div>
    </div>
  </div>
  <div class="delivery">
    <app-delivery-adress></app-delivery-adress>
  </div>
  <div class="items">
    <div class="header">
      <p class="tabName">ITEMS</p>
      <app-invoice-totals class="totals"></app-invoice-totals>
    </div>
    <div class="body">
      <app-tabel></app-tabel>
    </div>
  </div>
</div>
